/* fonts */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
    url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

/* ОБНУЛЕНИЕ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:focus, :active {
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'Playfair Display', sans-serif;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

ul li {
  list-style: none;
}
/* ------------------------------ */
/* global settings */
$primary_color:#A65CF0;
$primary_color_light: #C998FB;
$primary_color_shade: #7033AC;
$secondary_color: #FF862F;
$secondary_color_light: #FFBD59;
$secondary_color_shade:#BB370E;
$pink_color_light:#F8EFFF;
$pink_color_violet: #EBD1FF;
$red_input_color: #FF6972;
$green_input_color:#B8EC64;
$gold_color:#D5B986;
$white_color: #fff;
$grey_color:#999999;
$grey_color_light: #F7F7F7;
$grey_color_medium: #EAEAEA;
$grey_color_sade: #666666;
$black: #333;
$lime_color:#DAFFD1;
$bone_color:#FFF5D1;

.section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $black;
}

.primary-btn,
.secondary-btn {
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: color .2s linear, background-color .2s linear;
}
.primary-btn {
  max-width: 187px;
  width: 100%;
  height: 60px;
  font-weight: 700;
  color: $white_color;
  background: $primary_color;
  &:hover {
    background: $primary_color_light;
  }
  &:focus-visible {
    background: $primary_color_light;
    border: 2px solid $primary_color_shade;
  }
  &:active {
    background: $primary_color_shade;
  }
  &.disable {
    color: $grey_color;
    background: $grey_color_medium;
    cursor: not-allowed;
  }
}
.secondary-btn {
  max-width: 128px;
  width: 100%;
  height: 54px;
  border: 2px solid $primary_color;
  font-weight: 600;
  color: $primary_color;
  transition: color .2s linear, background-color .2s linear, border-color .2s linear;
  &:hover {
    background: $primary_color;
    color: $white_color;
  }
  &:focus-visible {
    background: $primary_color_light;
    border: 2px solid $primary_color;
    color: $white_color;
  }
  &:active {
    background: $primary_color_shade;
    border-color: $primary_color_shade;
    color: $white_color;
  }
}

.header-top-link,
.header-bottom-link,
.another-links {
  position: relative;
  font-style: normal;
  font-weight: 400;
  transition: color .2s linear;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    bottom: 0;
    right: 0;
    width: calc(100% + 20px);
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: $pink_color_violet;
    z-index: -1;
    transition: opacity .2s linear, visibility .2s linear;
  }
  &:hover {
    color: $primary_color;
  }
  &:focus-visible::before {
    opacity: 1;
    visibility: visible;
  }
  &:active {
    color: $primary_color_shade;
  }
}
.header-top-link,
.another-links {
  font-size: 14px;
  line-height: 100%;
  color: $grey_color;
  &:focus-visible {
    color: $primary_color_shade;
  }
}
.header-bottom-link {
  font-size: 16px;
  line-height: 22px;
  color: $black;
  &:focus-visible {
    color: $black;
  }
}
/* ------------------------------ */
/* header */
.header__top {
  background: $grey_color_light;
  .header__top-container {
    padding-top: 16px;
    padding-bottom: 16px;
    .header__top-nav {
      width: 100%;
      .header__top-region {
        margin-right: auto;
        .region {
          margin-right: 30px;
          align-items: center;
          .choices {
            min-width: 80px;
            z-index: 1;
            .choices__inner {
              padding: 0;
              position: relative;
              min-height: 0;
              border: none;
              border-radius: 0;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $primary_color;
              background-color: transparent;
              transition: color .2s linear;
              .choices__list--single {
                display: inline-block;
                padding: 0px 15px 0 5px;
              }
              &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                background: $pink_color_violet;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: opacity .2s linear, visibility .2s linear;
              }
            }
            &::after {
              content: "";
              position: absolute;
              height: 10px;
              width: 10px;
              border: none;
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              right: 0px;
              top: 5px;
              margin-top: 0;
              pointer-events: none;
              transition: transform .2s linear, background-image .2s linear;
            }
            &:hover .choices__inner{
              color: $primary_color_light;
            }
            &:hover::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23C998FB'/%3E%3C/svg%3E%0A");
            }
            &.is-open::after{
              transform: rotate(180deg)
            }
            &:focus-visible::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%237033AC'/%3E%3C/svg%3E%0A");
            }
            &:focus-visible .choices__inner{
              color: $primary_color_shade;
            }
            &:focus-visible .choices__inner::before{
              opacity: 1;
              visibility: visible;
            }
            &.is-open .choices__inner::before{
              opacity: 0;
              visibility: hidden;
            }

            &:active::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%237033AC'/%3E%3C/svg%3E%0A");
            }
            &:active .choices__inner{
              color: $primary_color_shade;
            }

            &.is-open .choices__inner {
              color: $primary_color;
            }
            &.is-open::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
            }

            .choices__list.choices__list--dropdown {
              margin-top: 5px;
              width: calc(100% + 4px);
              border: 2px solid $grey_color_light;
              border-radius: 0;
            }
            .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
              position: relative;
              padding: 10px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: $black;
            }
          }
        }
        .header__top-phone {
          position: relative;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: $secondary_color;
          z-index: 1;
          transition: color .2s linear;
          &::before {
            content: "";
            position: absolute;
            display: block;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background: transparent;
            z-index: -1;
            transition: background-color .2s linear;
          }
          &:hover {
            color: $secondary_color_light;
          }
          &:hover svg path{
            fill: $secondary_color_light;
          }
          &:focus-visible::before {
            background-color: $bone_color;
          }
          &:active {
            color: $secondary_color_shade;
          }
          &:active svg path{
            fill: $secondary_color_shade;
          }
          svg path {
            transition: fill .2s linear;
          }
        }
      }
      .header__top-list {
        max-width: 710px;
        width: 100%;
        justify-content: space-between;
      }
      .header__top-list-item{
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.header__bottom {
  .header__bottom-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__bottom-nav {
    margin-bottom: 33px;
  }
  .header__bottom-logo-link {
    margin-right: auto;
  }
  .header__bottom-list {
    max-width:  952px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .header__bottom-list-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .header__bottom-search-container {
    align-items: center;
  }
  .header__bottom-input-container {
    margin-right: auto;
    max-width: 1061px;
    width: 100%;
    .header__bottom-input {
      display: flex;
      position: relative;
      max-width: 761px;
      width: 100%;
      input {
        padding: 18.5px 65px 18.5px 59px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $black;
        background: $grey_color_light;
        border: 2px solid $grey_color_light;
        border-radius: 10px 0px 0px 10px;
        transition: background-color .2s linear, border-color .2s linear;
        &::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: $grey_color;
        }
        &:hover {
          background: $grey_color_medium;
          border-color: $grey_color_medium;
        }
        &:focus-visible {
          border-color: $primary_color;
        }
        &:active {

        }
      }
      .header__bottom-input-btn {
        position: absolute;
        display: block;
        top: 14px;
        right: 32px;
        width: 32px;
        height: 32px;
        svg {
          width: inherit;
          height: inherit;
        }
      }
      .header__bottom-input-svg-placeholder {
        position: absolute;
        display: block;
        top: 22px;
        left: 34px;
        width: 16px;
        height: 16px;
      }
    }

    .choices {
      max-width: 300px;
      width: 100%;
      .choices__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $white_color;
        padding: 0 0 0 32px;
        border: 2px solid $grey_color_light;
        border-radius: 0px 10px 10px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $primary_color;
        overflow: hidden;
        z-index: 100;
        transition: border-color .2s linear, background-color .2s linear;
        &:hover {
          border-color: $primary_color;
        }
        &:active {
          border-color: $primary_color_shade;
        }
      }
      &::after {
        content: "";
        height: 10px;
        width: 10px;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        right: 33px;
        top: 25px;
        margin-top: 0;
        pointer-events: none;
        z-index: 100;
        transition: transform .2s linear;
      }
      &.is-focused .choices__inner {
        border-color: $primary_color;
        background-color: $pink_color_light;
      }
      &.is-open .choices__inner {
        border-color: $grey_color_light;
        background-color: $white_color;
      }
      &.is-focused.is-open::after{
        transform: rotate(180deg)
      }
      .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 27px;
        column-count: 2;
      }
      .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
        padding: 5px 0 5px 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $black;
        transition: color .2s linear;
      }
      .choices__list.choices__list--dropdown {
        margin-top: -5px;
        border-top: none;
        border: 2px solid $grey_color_light;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10;
        .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
          background-color: transparent;
          color: #7033AC;
        }
      }
    }
  }

  .header__bottom-interface-container {
    .personal-account-btn,
    .basket-btn {
      position: relative;
      z-index: 1;
      svg {
        width: inherit;
        height: inherit;
      }
      svg path {
        transition: fill .2s linear;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
        background-color: $primary_color_light;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: opacity .2s linear, visibility .2s linear;
      }
      &:hover svg path{
        fill: $primary_color_light;
      }
      &:focus-visible::before{
        opacity: 1;
        visibility: visible;
      }
      &:focus-visible svg path{
        fill: $white_color;
      }
      &:active svg path{
        fill: $primary_color_shade;
      }
    }
    .personal-account-btn {
      margin-right: 43px;
      width: 26px;
      height: 26px;
    }
    .basket-btn {
      position: relative;
      width: 30px;
      height: 28px;
      .basket-count{
        padding: 2px 4px;
        position: absolute;
        top: 5px;
        left: -10px;
        height: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: $white_color;
        background: $secondary_color;
        border-radius: 100px;
      }
      &::before {
        content: "";
        width: calc(100% + 19px);
        top: -4px;
        left: -13px;
        background-color: $primary_color_light;
        z-index: -1;
      }
    }
  }
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}
.choices__item.choices__item--choice.choices__item--selectable.is-selected {
  display: none;
}

/* ------------------------------ */
/* hero */
.hero {
  padding: 0;
  .hero__swiper {
    position: relative;
    overflow: hidden;
    .swiper-slide {
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .hero__swiper-container {
        padding: 80px 20px;
      }
      .hero__title {
        margin-bottom: 49px;
        max-width: 550px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: $grey_color;
      }
    }
    .hero__swiper-slide1 {
      background-image: url(../img/hero-img1-1920.webp);
    }
    .hero__swiper-slide2 {
      background-image: url(../img/hero-img2-1920.webp);
    }
    .hero__swiper-slide3 {
      background-image: url(../img/hero-img3-1920.webp);
      .hero__title {
        max-width: 587px;
        color: $white_color;
      }
    }
    .hero__swiper-plug {
      background-image: url(../img/hero-img-plug-1920.svg);
      background-color: $grey_color_light;
      background-size: 276px 190px;
    }
    .hero__swiper-pagination {
      position: absolute;
      display: block;
      width: 100%;
      height: 15px;
      left: 0;
      bottom: 23px;
      z-index: 10;
      text-align: center;
    }
    .swiper-pagination-bullet {
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,14px));
      height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,14px));
      display: inline-block;
      border-radius: 50%;
      background: var(--swiper-pagination-bullet-inactive-color,#333);
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
    }
  }
}

/* ------------------------------ */
/* special-offers */
.special-offers {
  padding: 70px 0 0 0;
  .special-offers__container {
    position: relative;
  }
  .special-offers__swiper {
    position: relative;
    overflow: hidden;
    .special-offers__swiper-slide {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: minmax(511px, 1fr);
      gap: 0 32px;
      .special-offers__card {
        position: relative;
        display: flex;
        flex-direction: column;
        background: $grey_color_light;
        border-radius: 10px;
        .special-offers__discount {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 30px;
          left: 0;
          max-width: 92px;
          width: 100%;
          height: 34px;
          background-image: url("data:image/svg+xml,%3Csvg width='92' height='34' viewBox='0 0 92 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H82.1075L92 16.2273L82.1075 34H0V0Z' fill='%23FF862F'/%3E%3C/svg%3E ");
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: $white_color;
        }
        img {
          margin-top: auto;
          margin-bottom: 16px;
          align-self: center;
          width: fit-content;
          height: fit-content;
        }
        .special-offers__card-descr-container {
          padding: 0 30px 30px 30px;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          .special-offers__product-name,
          .special-offers__product-type {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            color: $black;
          }
          .special-offers__product-type,
          .special-offers__prices {
            margin-bottom: 22px;
          }
          .special-offers__prices {
            align-items: center;
          }
          .special-offers__new-price {
            margin-right: 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: $secondary_color;
          }
          .special-offers__old-price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            text-decoration-line: line-through;
            color: $grey_color;
          }
        }
      }
      .special-offers__card-big {
        grid-column: 2/4;
      }
    }
  }
  .special-offers__swiper-btns {
    position: absolute;
    top: 0;
    right: 20px;
    max-width: 77px;
    width: 100%;
    .special-offers__swiper-btn {
      width: 32px;
      height: 32px;
      svg {
        width: inherit;
        height: inherit;
      }
      svg path {
        transition: stroke .2s linear;
      }
      svg circle {
        transition: fill .2s linear;
      }
      &:hover svg path {
        stroke: $white_color;
      }
      &:hover svg circle {
        fill: $primary_color;
      }
      &:focus-visible svg path {
        stroke: $white_color;
      }
      &:focus-visible svg circle {
        fill: $primary_color_light;
        stroke: $primary_color;
      }
      &:active svg path {
        stroke: $white_color;
      }
      &:active svg circle {
        fill: $primary_color_shade;
        stroke: $primary_color_shade;
      }
      &.swiper-button-disabled {
        cursor: not-allowed;
        svg path,
        svg circle {
          stroke: $grey_color;
        }
        &:hover svg path {
          stroke: $grey_color;
        }
        &:hover svg circle {
          fill: transparent;
        }
      }
    }
    .special-offers__swiper-btn-prev {
      margin-right: 13px;
    }
  }
}

/* ------------------------------ */
/* special-offers */
.high-rating__cards-container {
  margin-bottom: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(420px, 1fr));
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(420px, 1fr);
  gap: 32px;
  .high-rating__card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $grey_color_light;
    border-radius: 10px;
    .high-rating__card-stars {
      position: absolute;
      display: flex;
      align-items: center;
      max-width: 45px;
      width: 100%;
      height: 21px;
      top: 30px;
      left: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $secondary_color;
      svg {
        margin-right: 7px;
      }
    }
    .high-rating__descr {
      padding: 0 30px 30px 30px;
      flex-direction: column;
      align-items: flex-start;
    }
    .high-rating__product-name,
    .high-rating__product-type {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      color: $black;
    }
    .high-rating__product-type,
    .high-rating__old-price {
      margin-bottom: 24px;
    }
    .high-rating__old-price {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $grey_color_sade;
    }
    img {
      margin-top: auto;
      margin-bottom: 16px;
      align-self: center;
      width: fit-content;
      height: fit-content;
    }
  }
}
.high-rating__btn-more-product {
  margin: 0 auto;
  display: block;
  max-width: 296px;
}

/* ------------------------------ */
/* ads */
.banner {
  padding: 150px 0;
  background-image: url(../img/banner-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: $gold_color;
  }
  .banner__descr {
    margin-bottom: 49px;
    max-width: 500px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $white_color;
  }
}

/* ------------------------------ */
/* top-categories */
.top-categories__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $black;
}
.top-categories__cards-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(511px, 1fr) minmax(405px, 1fr);
  gap: 32px;
  .big-card-container {
    grid-column: 1/4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(511px, 1fr);
    gap: 32px;
  }
  .top-categories__card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $grey_color_light;
    border-radius: 10px;
  }
  .top-categories__card-list {
    margin-bottom: 14px;
    display: flex;
    .top-categories__card-list-item{
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .top-categories__product-name {
    margin-bottom: auto;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $black;
  }
  .top-categories__product-img {
    position: absolute;
    display: block;
    top: 121px;
    left: 0;
    width: fit-content;
    height: fit-content;
  }
  .top-categories__product-link {
    display: flex;
    align-items: center;
    max-width: max-content;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $primary_color;
    span {
      position: relative;
      margin-right: 5px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
        visibility: hidden;
        background-color: $primary_color;
        transition: opacity .2s linear, visibility .2s linear, background-color .2s linear, transform .2s linear;
      }
    }
    svg path {
      transition: stroke .2s linear;
    }
    svg circle {
      transition: stroke .2s linear, fill .2s linear;
    }
  }
}
.top-categories__card-list-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $grey_color;
}
.in-catalog-link {
  transition: color .2s linear;
  &:hover span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
  }
  &:hover svg path{
    stroke: $white_color;
  }
  &:hover svg circle{
    fill: $primary_color;
  }
  &:focus-visible span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
  }
  &:focus-visible svg path{
    stroke: $white_color;
  }
  &:focus-visible svg circle{
    fill: $primary_color_light;
  }
  &:active {
    color: $primary_color_shade;
  }
  &:active span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
    background-color: $primary_color_shade;
  }
  &:active svg path{
    stroke: $white_color;
  }
  &:active svg circle{
    stroke: $primary_color_shade;
    fill: $primary_color_shade;
  }
}

/* ------------------------------ */
/* useful */
.useful {
  padding-top: 0;
  .useful__container {
    position: relative;
  }
  .useful__articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(676px, 1fr);
    overflow: hidden;
    .articles-card {
      display: flex;
      flex-direction: column;
      img {
        display: block;
        max-width: 624px;
        width: 100%;
        height: 426px;
        border-radius: 10px 10px 0 0;
      }
      .articles-card__content {
        padding: 30px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        background-color: $grey_color_light;
        border-radius: 0px 0px 10px 10px;
        .articles-card__content-text {
          margin-bottom: auto;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: $black;
        }
      }
    }
  }
  .articles-swiper-btns-container {
    position: absolute;
    align-items: center;
    max-width: 77px;
    width: 100%;
    top: 0;
    right: 20px;
    .articles-swiper-btn-prev {
      margin-right: 13px;
    }
    .articles-swiper-btn {
      width: 32px;
      height: 32px;
      svg {
        width: inherit;
        height: inherit;
      }
      svg path {
        transition: stroke .2s linear;
      }
      svg circle {
        transition: fill .2s linear;
      }
      &:hover svg path {
        stroke: $white_color;
      }
      &:hover svg circle {
        fill: $primary_color;
      }
      &:focus-visible svg path {
        stroke: $white_color;
      }
      &:focus-visible svg circle {
        fill: $primary_color_light;
        stroke: $primary_color;
      }
      &:active svg path {
        stroke: $white_color;
      }
      &:active svg circle {
        fill: $primary_color_shade;
        stroke: $primary_color_shade;
      }
      &.swiper-button-disabled {
        cursor: not-allowed;
        svg path,
        svg circle {
          stroke: $grey_color;
        }
        &:hover svg path {
          stroke: $grey_color;
        }
        &:hover svg circle {
          fill: transparent;
        }
      }
    }
  }
}

/* ------------------------------ */
/* feedback-form */
.feedback-form {
  padding-top: 0;
  .feedback-form__container {
    align-items: flex-end;
  }
  .feedback-form__left-part {
    margin-right: 32px;
    max-width: 624px;
    width: 100%;
  }
  .feedback-form__right-part {
    max-width: 624px;
    width: 100%;
    height: 383px;
  }
  .feedback-form__title {
    margin-bottom: 9px;
  }
  .feedback-form__descr {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $grey_color_sade;
  }
  .feedback-form__form {
    flex-direction: column;
    .feedback-form__input {
      padding: 7px 18px;
      height: 54px;
      background: $grey_color_light;
      border-radius: 10px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .feedback-form__btn {
      margin-bottom: 15px;
      max-width: 159px;
      height: 54px;
    }
    .feedback-form__agree {
      align-items: center;
      width: max-content;
    }
    .feedback-form__agree span {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $black;
      &::before {
        content: "";
        display: block;
        position: relative;
        margin-right: 8px;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid $grey_color;
        border-radius: 2px;
        transition: border-color .2s linear, background-color .2s linear;
      }
      &::after {
        content: '';
        display: none;
        position: absolute;
        margin-top: -7px;
        top: 10px;
        left: 1px;
        width: 14px;
        height: 14px;
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        text-decoration: underline;
      }
    }
    .feedback-form__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + span::after{
        display: block;
      }
      &:checked + span::before{
        background-color: $primary_color;
        border-color: $primary_color;
      }
      &:focus + span::before {
        outline: 1px solid $primary_color_shade;
      }
    }
  }
}

/* ------------------------------ */
/* footer */
.footer__top {
  padding: 24px 0;
  background-color: $grey_color_medium;
  .footer__top-container {
    justify-content: space-between;
    .footer__top-social-container {
      margin-right: 25px;
      flex-direction: column;
      align-items: flex-start;
      a {
        margin-bottom: 31px;
        max-width: 187px;
        width: 100%;
        height: 27px;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .footer__top-social-list-item {
        &:not(:last-child) {
          margin-right: 20px;
        }
        .footer__top-social-list-item-link {
          margin: 0;
          display: block;
          position: relative;
          width: 30px;
          height: 30px;
          z-index: 1;
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            top: -3px;
            left: -3px;
            background-color: $primary_color;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
          }
          svg path{
            transition: fill .2s linear;
          }
          &:hover svg path{
            fill: $primary_color;
          }
          &:focus-visible svg path{
            fill: $white_color;
          }
          &:focus-visible::after{
            opacity: 1;
            visibility: visible;
          }
          &:active svg path{
            fill: $primary_color_shade;
          }
        }
      }
    }
    .footer__top-links {
      max-width: 843px;
      width: 100%;
      justify-content: space-between;
    }
    .footer__top-links-list {
      flex-direction: column;
      &:not(:last-child) {
        margin-right: 25px;
      }
      .footer__top-links-main-link.footer__top-links-list-item {
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: $black;
        }
      }
      .footer__top-links-list-item {
        a {
          position: relative;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: $grey_color;
          z-index: 1;
          transition: color .2s linear;
          &::before {
            content: "";
            position: absolute;
            display: block;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            top: -2px;
            left: -2px;
            background-color: $pink_color_violet;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: opacity .2s linear, visibility .2s linear;
          }
          &:hover {
            color: $primary_color;
          }
          &:focus-visible {
            color: $primary_color_shade;
          }
          &:focus-visible::before {
            opacity: 1;
            visibility: visible;
          }
          &:active {
            color: $primary_color_shade;
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
.footer__bottom {
  padding: 5px;
  background-color: $grey_color_light;
  .footer__bottom-copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $grey_color;
  }
}