/* ------------------------------ */
/* catalog */
.catalog {
  padding: 0  0 134px 0;
}
.catalog__container {
  grid-template-columns: minmax(200px, 296px) 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0 32px;
  grid-auto-flow: row;
  grid-template-areas:
    "filters katalog";

  .catalog__filters {
    grid-area: filters;
    .catalog__filters-titile {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: $black;
    }
  }
  .filters-container-desctop {
    flex-direction: column;
    .filters-checkbox-list {
      margin-bottom: 26px;
      flex-direction: column;
      .filters-checkbox-list__item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    .filters-price {
      margin-bottom: 10px;
      width: 100%;
      justify-content: space-between;
      .filters-price__label {
        align-items: center;
        span {
          margin-right: 9px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          color: $grey_color_shade;
        }
      }
      .filters-price__input {
        padding: 4px 13px;
        max-width: 86px;
        width: 100%;
        height: 30px;
        border: 1px solid $grey_color;
        border-radius: 2px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $grey_color_shade;
        transition: border-color .2s linear, background-color .2s linear;
        &:hover {
          border-color: $primary_color;
        }
        &:focus-visible:not(:active) {
          border-color: $primary_color;
          background-color: $pink_color_violet;
        }
        &:active {
          border-color: $primary_color_shade;
        }
      }
    }
    .price-range {
      margin-bottom: 36px;
      width: 100%;
      height: 3px;
      background-color: $grey_color_medium;
      border-radius: 3px;
      .price-range__control {
        position: relative;
        width: 70%;
        height: 100%;
        background-color: $primary_color;
        border-radius: 3px;
        transform: translateX(20px);
        cursor: pointer;
        .price-range__control-btn {
          position: absolute;
          display: flex;
          top: 0;
          width: 13px;
          height: 13px;
          svg {
            width: inherit;
            height: inherit;
            & path {
              transition: fill .2s linear;
            }
          }
        }
        .control-btn-before {
          left: -6px;
        }
        .control-btn-after {
          right: -6px;
        }
      }
    }
    .colors-list {
      margin-bottom: 69px;
    }
    .catalog__banner {
      width: 100%;
      .catalog__banner-photo {
        background-image: url(../img/banner-bg-catalog.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 190px;
        border-radius: 10px 10px 0px 0px;
      }
      .catalog__banner-content {
        padding: 30px;
        flex-direction: column;
        background-color: $black;
        border-radius: 0px 0px 10px 10px;
        .catalog__banner-title,
        .catalog__banner-descr {
          max-width: 199px;
        }
        .catalog__banner-title {
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
          color: $gold_color;
        }
        .catalog__banner-descr {
          margin-bottom: 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $grey_color;
        }
      }
    }
  }
  .filters-container-tablet {
    display: none;
  }
  .catalog__cards {
    grid-area: katalog;
    position: relative;
    max-width: 952px;
    width: 100%;
    .catalog__cards-title {
      margin-bottom: 24px;
    }
    .catalog__cards-swiper-slide {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, minmax(420px, 1fr));
      grid-auto-flow: row;
      grid-auto-columns: 1fr;
      grid-auto-rows: minmax(420px, 1fr);
      gap: 32px;
    }
  }
}
.catalog__cards-swiper {
  overflow: hidden;
}

.catalog__cards-swiper-btn.flex.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  width: 80px;
  bottom: -64px;
  left: 46%;
  .swiper-pagination-bullet {
    margin: 0;
    opacity: 1;
  }
  .cards-swiper-btn.swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 2px solid $primary_color;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $primary_color;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover {
      color: $white_color;
    }
    &:focus-visible {
      color: $white_color;
      background-color: $primary_color_light;
    }
    &:active {
      color: $white_color;
      background-color: $primary_color_shade;
      border-color: $primary_color_shade;
    }
  }
  .cards-swiper-btn.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: $white_color;
    background-color: $primary_color_shade;
    border-color: $primary_color_shade;
  }
}