/* ------------------------------ */
/* feedback-form */
.feedback-form {
  padding-top: 0;
  .feedback-form__container {
    align-items: flex-end;
  }
  .feedback-form__left-part {
    margin-right: 32px;
    max-width: 624px;
    width: 100%;
  }
  .feedback-form__right-part {
    max-width: 624px;
    width: 100%;
    height: 383px;
  }
  .feedback-form__title {
    margin-bottom: 9px;
  }
  .feedback-form__descr {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $grey_color_shade;
  }
}