/* global settings */
$primary_color:#A65CF0;
$primary_color_light: #C998FB;
$primary_color_shade: #7033AC;
$secondary_color: #FF862F;
$secondary_color_light: #FFBD59;
$secondary_color_shade:#BB370E;
$pink_color_light:#F8EFFF;
$pink_color_violet: #EBD1FF;
$red_input_color: #FF6972;
$green_input_color:#B8EC64;
$gold_color:#D5B986;
$white_color: #fff;
$grey_color:#999999;
$grey_color_light: #F7F7F7;
$grey_color_medium: #EAEAEA;
$grey_color_shade: #666666;
$black: #333;
$lime_color:#DAFFD1;
$bone_color:#FFF5D1;

.section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: $black;
}
.title-small {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: $black;

}

.primary-btn,
.secondary-btn {
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: color .2s linear, background-color .2s linear;
}
.primary-btn {
  max-width: 187px;
  width: 100%;
  height: 60px;
  font-weight: 700;
  color: $white_color;
  background: $primary_color;
  &:hover {
    background: $primary_color_light;
  }
  &:focus-visible {
    background: $primary_color_light;
    border: 2px solid $primary_color_shade;
  }
  &:active {
    background: $primary_color_shade;
  }
  &.disable {
    color: $grey_color;
    background: $grey_color_medium;
    cursor: not-allowed;
  }
}
.secondary-btn {
  max-width: 128px;
  width: 100%;
  height: 54px;
  border: 2px solid $primary_color;
  font-weight: 600;
  color: $primary_color;
  transition: color .2s linear, background-color .2s linear, border-color .2s linear;
  &:hover {
    background: $primary_color;
    color: $white_color;
  }
  &:focus-visible {
    background: $primary_color_light;
    border: 2px solid $primary_color;
    color: $white_color;
  }
  &:active {
    background: $primary_color_shade;
    border-color: $primary_color_shade;
    color: $white_color;
  }
}

.header-top-link,
.header-bottom-link,
.another-links {
  position: relative;
  font-style: normal;
  font-weight: 400;
  transition: color .2s linear;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    bottom: 0;
    right: 0;
    width: calc(100% + 20px);
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: $pink_color_violet;
    z-index: -1;
    transition: opacity .2s linear, visibility .2s linear;
  }
  &:hover {
    color: $primary_color;
  }
  &:focus-visible::before {
    opacity: 1;
    visibility: visible;
  }
  &:active {
    color: $primary_color_shade;
  }
}
.header-top-link,
.another-links {
  font-size: 14px;
  line-height: 100%;
  color: $grey_color;
  &:focus-visible {
    color: $primary_color_shade;
  }
}
.header-bottom-link {
  font-size: 16px;
  line-height: 22px;
  color: $black;
  &:focus-visible {
    color: $black;
  }
}

.sending-form {
  display: flex;
  flex-direction: column;
  .sending-form__input {
    padding: 7px 18px;
    height: 54px;
    background: $grey_color_light;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color .2s linear, border-color .2s linear;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 40px;
      color: $grey_color;
    }
    &:hover {
      background-color: $grey_color_medium;
    }
    &:focus-visible {
      background-color: $pink_color_light;
      border-color: $primary_color;
    }
  }
  .sending-form__btn {
    margin-bottom: 15px;
    max-width: 159px;
    height: 54px;
  }
  .sending-form__agree {
    display: flex;
    align-items: center;
    width: max-content;
    span {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $black;
      &::before {
        content: "";
        display: block;
        position: relative;
        margin-right: 8px;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid $grey_color;
        border-radius: 2px;
        transition: border-color .2s linear, background-color .2s linear;
      }
      &::after {
        content: '';
        display: none;
        position: absolute;
        margin-top: -7px;
        top: 10px;
        left: 1px;
        width: 14px;
        height: 14px;
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        position: relative;
        padding-left: 3px;
        color: $primary_color;
        text-decoration: underline;
        z-index: 1;
        transition: color .2s linear;
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          top: -2px;
          left: 0;
          background-color: $primary_color_light;
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          transition: opacity .2s linear, visibility .2s linear;
        }
        &:hover {
          color: $primary_color_light;
        }
        &:focus-visible {
          color: $white_color;
        }
        &:focus-visible::after {
          opacity: 1;
          visibility: visible;
        }
        &:active {
          color: $primary_color_shade;
        }
      }
    }
  }
  .sending-form__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + span::after{
      display: block;
    }
    &:checked + span::before{
      background-color: $primary_color;
      border-color: $primary_color;
    }
    &:focus + span::before {
      outline: 1px solid $primary_color_shade;
    }
  }
}

.property-name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: $grey_color_shade;
}

.check {
  max-width: max-content;
  align-items: center;
  cursor: pointer;
  &:hover .check__text {
    color: $primary_color;
  }
  &:hover .check__box{
    border-color: $primary_color;
  }
  .check__input {
    position: absolute;
    appearance: none;
    &:checked + .check__box{
      background-color: $primary_color;
      background-image: url(../img/check-big.svg);
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-color: $primary_color;
    }
    &:focus-visible + .check__box{
      border-color: $primary_color;
    }
    &:focus-visible + .check__text{
      color: $primary_color;
    }
  }
  .check__box {
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $grey_color;
    border-radius: 2px;
    transition: border-color .2s linear;
  }
  .check__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $grey_color_shade;
    transition: color .2s linear;
  }
}

.in-catalog-link {
  display: flex;
  align-items: center;
  max-width: max-content;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $primary_color;
  transition: color .2s linear;
  span {
    position: relative;
    margin-right: 5px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      visibility: hidden;
      background-color: $primary_color;
      transition: opacity .2s linear, visibility .2s linear, background-color .2s linear, transform .2s linear;
    }
  }
  svg path {
    transition: stroke .2s linear;
  }
  svg circle {
    transition: stroke .2s linear, fill .2s linear;
  }
  &:hover span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
  }
  &:hover svg path{
    stroke: $white_color;
  }
  &:hover svg circle{
    fill: $primary_color;
  }
  &:focus-visible span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
  }
  &:focus-visible svg path{
    stroke: $white_color;
  }
  &:focus-visible svg circle{
    fill: $primary_color_light;
  }
  &:active {
    color: $primary_color_shade;
  }
  &:active span::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
    background-color: $primary_color_shade;
  }
  &:active svg path{
    stroke: $white_color;
  }
  &:active svg circle{
    stroke: $primary_color_shade;
    fill: $primary_color_shade;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $grey_color_light;
  border-radius: 10px;
  .card__stars {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 45px;
    width: 100%;
    height: 21px;
    top: 30px;
    left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $secondary_color;
    svg {
      margin-right: 7px;
    }
  }
  .card__descr {
    padding: 0 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .card__product-name,
  .card__product-type {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $black;
  }
  .card__product-type,
  .card__old-price {
    margin-bottom: 24px;
  }
  .card__old-price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $grey_color_shade;
  }
  img {
    margin-top: auto;
    margin-bottom: 16px;
    align-self: center;
    width: fit-content;
    height: fit-content;
  }
}

.swiper-btns-container {
  position: absolute;
  top: 0;
  right: 20px;
  max-width: 77px;
  width: 100%;
  .swiper-btns {
    width: 32px;
    height: 32px;
    svg {
      width: inherit;
      height: inherit;
    }
    svg path {
      transition: stroke .2s linear;
    }
    svg circle {
      transition: fill .2s linear;
    }
    &:hover svg path {
      stroke: $white_color;
    }
    &:hover svg circle {
      fill: $primary_color;
    }
    &:focus-visible svg path {
      stroke: $white_color;
    }
    &:focus-visible svg circle {
      fill: $primary_color_light;
      stroke: $primary_color;
    }
    &:active svg path {
      stroke: $white_color;
    }
    &:active svg circle {
      fill: $primary_color_shade;
      stroke: $primary_color_shade;
    }
    &.swiper-button-disabled {
      cursor: not-allowed;
      svg path,
      svg circle {
        stroke: $grey_color;
      }
      &:hover svg path {
        stroke: $grey_color;
      }
      &:hover svg circle {
        fill: transparent;
      }
    }
  }
}

.graph-modal__close {
  background-image: none;
  right: 20px;
  top: 20px;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: $pink_color_violet;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity .2s linear, visibility .2s linear;
  }
  &:hover svg path{
    fill: $primary_color;
  }
  &:focus-visible::after {
    opacity: 1;
    visibility: visible;
  }
  &:focus-visible svg path {
    fill: $primary_color_shade;
  }
  &:active svg path {
    fill: $primary_color_shade;
  }
  svg path{
    transition: fill .2s linear;
  }
}