/* ------------------------------ */
/* header */
.header__top {
  background: $grey_color_light;
  .header__top-container {
    padding-top: 16px;
    padding-bottom: 16px;
    .header__top-nav {
      width: 100%;
      .header__top-region {
        margin-right: auto;
        .region {
          margin-right: 30px;
          align-items: center;
          .choices {
            min-width: 80px;
            z-index: 1;
            .choices__inner {
              padding: 0;
              position: relative;
              min-height: 0;
              border: none;
              border-radius: 0;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $primary_color;
              background-color: transparent;
              transition: color .2s linear;
              .choices__list--single {
                display: inline-block;
                padding: 0px 15px 0 5px;
              }
              &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                background: $pink_color_violet;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: opacity .2s linear, visibility .2s linear;
              }
            }
            &::after {
              content: "";
              position: absolute;
              height: 10px;
              width: 10px;
              border: none;
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              right: 0px;
              top: 5px;
              margin-top: 0;
              pointer-events: none;
              transition: transform .2s linear, background-image .2s linear;
            }
            &:hover .choices__inner{
              color: $primary_color_light;
            }
            &:hover::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23C998FB'/%3E%3C/svg%3E%0A");
            }
            &.is-open::after{
              transform: rotate(180deg)
            }
            &:focus-visible::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%237033AC'/%3E%3C/svg%3E%0A");
            }
            &:focus-visible .choices__inner{
              color: $primary_color_shade;
            }
            &:focus-visible .choices__inner::before{
              opacity: 1;
              visibility: visible;
            }
            &.is-open .choices__inner::before{
              opacity: 0;
              visibility: hidden;
            }

            &:active::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%237033AC'/%3E%3C/svg%3E%0A");
            }
            &:active .choices__inner{
              color: $primary_color_shade;
            }

            &.is-open .choices__inner {
              color: $primary_color;
            }
            &.is-open::after{
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
            }

            .choices__list.choices__list--dropdown {
              margin-top: 5px;
              width: calc(100% + 4px);
              border: 2px solid $grey_color_light;
              border-radius: 0;
            }
            .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
              position: relative;
              padding: 10px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: $black;
            }
          }
        }
        .header__top-phone {
          position: relative;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: $secondary_color;
          z-index: 1;
          transition: color .2s linear;
          &::before {
            content: "";
            position: absolute;
            display: block;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background: transparent;
            z-index: -1;
            transition: background-color .2s linear;
          }
          &:hover {
            color: $secondary_color_light;
          }
          &:hover svg path{
            fill: $secondary_color_light;
          }
          &:focus-visible::before {
            background-color: $bone_color;
          }
          &:active {
            color: $secondary_color_shade;
          }
          &:active svg path{
            fill: $secondary_color_shade;
          }
          svg path {
            transition: fill .2s linear;
          }
        }
      }
      .header__top-list {
        max-width: 710px;
        width: 100%;
        justify-content: space-between;
      }
      .header__top-list-item{
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.header__bottom {
  .header__bottom-container {
    padding-top: 30px;
  }
  .header__bottom-nav {
    margin-bottom: 33px;
  }
  .header__bottom-logo-link {
    margin-right: auto;
  }
  .header__bottom-list {
    max-width:  952px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .header__bottom-list-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .header__bottom-search-container {
    align-items: center;
  }
  .header__bottom-input-container {
    margin-right: auto;
    max-width: 1061px;
    width: 100%;
    .header__bottom-input {
      display: flex;
      position: relative;
      max-width: 761px;
      width: 100%;
      input {
        padding: 18.5px 65px 18.5px 59px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $black;
        background: $grey_color_light;
        border: 2px solid $grey_color_light;
        border-radius: 10px 0px 0px 10px;
        transition: background-color .2s linear, border-color .2s linear;
        &::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: $grey_color;
        }
        &:hover {
          background: $grey_color_medium;
          border-color: $grey_color_medium;
        }
        &:focus-visible {
          border-color: $primary_color;
        }
        &:active {

        }
      }
      .header__bottom-input-btn {
        position: absolute;
        display: block;
        top: 14px;
        right: 32px;
        width: 32px;
        height: 32px;
        svg {
          width: inherit;
          height: inherit;
        }
      }
      .header__bottom-input-svg-placeholder {
        position: absolute;
        display: block;
        top: 22px;
        left: 34px;
        width: 16px;
        height: 16px;
      }
    }

    .choices {
      max-width: 300px;
      width: 100%;
      .choices__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $white_color;
        padding: 0 0 0 32px;
        border: 2px solid $grey_color_light;
        border-radius: 0px 10px 10px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $primary_color;
        overflow: hidden;
        z-index: 100;
        transition: border-color .2s linear, background-color .2s linear;
        &:hover {
          border-color: $primary_color;
        }
        &:active {
          border-color: $primary_color_shade;
        }
      }
      &::after {
        content: "";
        height: 10px;
        width: 10px;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        right: 33px;
        top: 25px;
        margin-top: 0;
        pointer-events: none;
        z-index: 100;
        transition: transform .2s linear;
      }
      &.is-focused .choices__inner {
        border-color: $primary_color;
        background-color: $pink_color_light;
      }
      &.is-open .choices__inner {
        border-color: $grey_color_light;
        background-color: $white_color;
      }
      &.is-focused.is-open::after{
        transform: rotate(180deg)
      }
      .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 27px;
        column-count: 2;
      }
      .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
        padding: 5px 0 5px 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $black;
        transition: color .2s linear;
      }
      .choices__list.choices__list--dropdown {
        margin-top: -5px;
        border-top: none;
        border: 2px solid $grey_color_light;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10;
        .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
          background-color: transparent;
          color: #7033AC;
        }
      }
    }
  }

  .header__bottom-interface-container {
    .personal-account-btn,
    .basket-btn {
      position: relative;
      z-index: 1;
      svg {
        width: inherit;
        height: inherit;
      }
      svg path {
        transition: fill .2s linear;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
        background-color: $primary_color_light;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: opacity .2s linear, visibility .2s linear;
      }
      &:hover svg path{
        fill: $primary_color_light;
      }
      &:focus-visible::before{
        opacity: 1;
        visibility: visible;
      }
      &:focus-visible svg path{
        fill: $white_color;
      }
      &:active svg path{
        fill: $primary_color_shade;
      }
    }
    .personal-account-btn {
      margin-right: 43px;
      width: 26px;
      height: 26px;
    }
    .basket-btn {
      position: relative;
      width: 30px;
      height: 28px;
      .basket-count{
        padding: 2px 4px;
        position: absolute;
        top: 5px;
        left: -10px;
        height: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: $white_color;
        background: $secondary_color;
        border-radius: 100px;
      }
      &::before {
        content: "";
        width: calc(100% + 19px);
        top: -4px;
        left: -13px;
        background-color: $primary_color_light;
        z-index: -1;
      }
    }
  }
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}
.choices__item.choices__item--choice.choices__item--selectable.is-selected {
  display: none;
}