/* ------------------------------ */
/* top-categories */
.top-categories__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $black;
}
.top-categories__cards-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(511px, 1fr) minmax(405px, 1fr);
  gap: 32px;
  .big-card-container {
    grid-column: 1/4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(511px, 1fr);
    gap: 32px;
  }
  .top-categories__card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $grey_color_light;
    border-radius: 10px;
  }
  .top-categories__card-list {
    margin-bottom: 14px;
    display: flex;
    .top-categories__card-list-item{
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .top-categories__product-name {
    margin-bottom: auto;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $black;
  }
  .top-categories__product-img {
    position: absolute;
    display: block;
    top: 121px;
    left: 0;
    width: fit-content;
    height: fit-content;
  }
}
.top-categories__card-list-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $grey_color;
}